

<% layout("/layouts/boilerplate")  %>

  
   <div class="row">
  <div class="col-8">
      <h3>edit the listing</h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">
      
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          id="title"
        value="<%= listing.title%>"
          type="text"
          class="form-control"
         required
        />
         <div class="invalid-feedback">Good title</div>
  
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          class="form-control"
          required
        ><%= listing.description %></textarea>
           <div class="invalid-feedback">please enter a short description</div>
  
      </div>

      <div class="mb-3">
        <p>Original Image Preview</p>
        <img src="<%= originalImageUrl %>" />
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          name="listing[image]"
          id="image"
          type="file"
          class="form-control"
        />
      </div>

      <!-- Price + Country -->
      <div class="row">
        <div class="col-4 mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            id="price"
           value="<%= listing.price%>" 
            type="number"
            class="form-control"
            required
          />
           <div class="invalid-feedback">price shoild be valid </div>
  
        </div>

        <div class="col-8 mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            id="country"
           value="<%= listing.country %>" 
            type="text"
            class="form-control"
            required
          />
           <div class="invalid-feedback">country should be valid </div>
  
        </div>
      </div>

      <!-- Category -->
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" class="form-select" required id="category">
          <% const categories = ["Trending", "Rooms", "Iconic Cities", "Mountains", "Beach", "Amazing Pools", "Farms", "Arctic", "Domes", "Boats"]; %>
          <% for(let cat of categories) { %>
            <option value="<%= cat %>" <%= listing.category === cat ? 'selected' : '' %>><%= cat %></option>
          <% } %>
        </select>
        <div class="invalid-feedback">Please select a category</div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          id="location"
         value="<%= listing.location %>" 
           type="text"
           class="form-control"
           required
        />
          <div class="invalid-feedback">location should be valid </div>
  
      </div>

       <button class="editbtn">edit</button>
   
      </form>
  </div>
</div>

 <script src="/js/script.js"></script>
